@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  font-family: "Cabin", sans-serif;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: "Cabin", sans-serif;
}

.title span {
  color: #3770C6;
}

.input_01 {
    width: 216px;
    height: 38px;
    border: solid black 1.25px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}